[submodule "algorithms"]
	path = algorithms
	url = https://github.com/Firsss21/algorithms
	branch = master
[submodule "learning_english"]
	path = learning_english
	url = https://github.com/Firsss21/learning_english_words
	branch = master
[submodule "design_patterns"]
	path = design_patterns
	url = https://github.com/Firsss21/design_patterns_examples
	branch = master
[submodule "simple_html_rpg_game"]
	path = simple_html_rpg_game
	url = https://github.com/Firsss21/simple_html_rpg_game
	branch = master
